{% load staticfiles %} {% load i18n %}
<html>

<head>

    <title>{% trans 'Blozhik' %}</title>
    <script src="https://use.fontawesome.com/11ddba8a4a.js"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="shortcut icon" href="https://p.memecdn.com/avatars/s_880773_51f28c9a5a506.png">
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="header">
            <div class="header-top learfix">
                <div class="social-btns">
                    <a href="https://www.facebook.com/dmitriu.makkaron" class="social-button FB">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="https://twitter.com/makkaronis4e" class="social-button TW">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="https://github.com/makkaronis4e" class="social-button Git">
                        <span class="fa fa-github"></span>
                    </a>
                </div>
                <div class="l-block">
                    <a href="" class="l-button language-switch">
                        <span class="fa fa-globe"></span>
                    </a>
                    <a href="{% url 'admin:index' %}" class="l-button login-link">
                        <span class="fa fa-sign-in"></span>
                    </a>
                </div>
                <h1 class="title-name">
                    <a href="/">{% trans 'Blozhik' %}</a>
                </h1>
            </div>
            <nav>
                <ul class="main-nav">
                    <li class="nav-1">
                        <a href="{% url 'post_list' %}">{% trans 'Main' %}</a>
                    </li>
                    <li class="nav-2">
                        <a href="">{% trans 'Top posts' %}</a>
                    </li>
                    <li class="nav-3">
                        <a href="">{% trans 'Info' %}</a>
                    </li>
                    <li class="nav-4">
                        <a href="">{% trans 'Contacts' %}</a>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="layout-main clearfix">
            <section>
                <div class="content container">
                    <div class="row">
                        <div class="col-md-8">
                            {% block content %} {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
            <aside>
                {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="add-new-post">
                    <span class="fa fa-plus-circle"></span>
                    NEW POST
                </a>
                {% endif %}
                <div class="github-block">
                    <div class="title-git">
                        <h2 class="block-title">
                            <a href="https://github.com/makkaronis4e">
                                <span class="fa fa-github"></span>
                                Makkaronis4e
                            </a>
                        </h2>
                    </div>
                    <div class="github-widget" data-username="makkaronis4e"></div>
                    <script src="https://unpkg.com/github-card@1.2.1/dist/widget.js"></script>
                </div>
                <div class="twitter">
                    <div class="title-twitter">
                        <h2 class="block-title">
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                                @Makkaronis4e
                            </a>
                        </h2>
                    </div>
                    <div class="body-twitter">
                        <a class="twitter-timeline" data-chrome="noheader nofooter transparent" data-width="300" data-height="800" data-theme="light"
                            data-link-color="#FAB81E" href="https://twitter.com/MileyCyrus?ref_src=twsrc%5Etfw">Tweets by MileyCyrus</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </aside>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="footer-block clearfix">
                <div class="menu-block-footer">
                    <h3 class="footer-content-title">Content</h3>
                    <ul class="menu-footer">
                        <li class="nav-1-footer">
                            <a href="{% url 'post_list' %}">{% trans 'Main' %}</a>
                        </li>
                        <li class="nav-2-footer">
                            <a href="">{% trans 'Top posts' %}</a>
                        </li>
                        <li class="nav-3-footer">
                            <a href="">{% trans 'Info' %}</a>
                        </li>
                        <li class="nav-4-footer">
                            <a href="">{% trans 'Contacts' %}</a>
                    </ul>
                </div>
                <div class="social-btns-footer">
                    <a href="https://www.facebook.com/dmitriu.makkaron" class="social-button FB">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="https://twitter.com/makkaronis4e" class="social-button TW">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="https://github.com/makkaronis4e" class="social-button Git">
                        <span class="fa fa-github"></span>
                    </a>
                </div>
            </div>
            <div class="copyright">
                <p>(C)Makkaronis4e 2018</p>
            </div>
        </div>
    </footer>
</body>

</html>
